@import 'GlobalVars.scss';

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.card-container-outer {
    display: flex;
    padding: 25px;
}

.cardbox {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px solid lightgrey;
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: $brdr-rad;
    transition: all .4s ease-in-out;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        transition: all .4s ease-in-out;
        .button-list-container {
            // visibility: visible;
            opacity: 1;
            transition: all .4s ease-in-out;
        }
    }
    img {
        min-width: 100%;
        height: 200px;
        border-radius: $brdr-rad $brdr-rad 0px 0px;
        object-fit: cover;
    }
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
}
