$brdr_rad: 10px;
$form_brdr_rad: 5px;
$steel_blue_4: darken(#36648b, 10%);
$base_light: white;
$base_dark: #222;
$base_dark: $steel_blue_4;
$lighter_dark: lighten($base_dark, 5%);
$active_dark: lighten($base_dark, 10%);
